<head>
<script type="text/javascript" src="./js/jquery.js"></script>
<script type="text/javascript" src="./js/jquery.svg.js"></script>
<script type="text/javascript" src="./js/jquery.drawinglibrary.js"></script>
<script type="text/javascript">
	 $(document).ready(function(){
		$("#mydiv").drawLine(0, 0, 220, 45);
           });
</script>
</head>
<body>
<div id="mydiv" class="canvas"></div>
.canvas
{
        position: relative;
        height: 120px;
        width: 400px;
}
<script>
$("#example1").drawLine(0, 0, 220, 45);
</script>
</body>
